<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329950255988-prms6n71cha2acm9crtl83h69iu9e0u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329950255988-prms6n71cha2acm9crtl83h69iu9e0u4</string>
	<key>API_KEY</key>
	<string>AIzaSyB3IJZpoXUsefVb1HhvpjcL4Y5knxJoiDg</string>
	<key>GCM_SENDER_ID</key>
	<string>329950255988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatmobile</string>
	<key>PROJECT_ID</key>
	<string>myproject-86929</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-86929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329950255988:ios:816c0915e8a40ac1d0aa21</string>
	<key>DATABASE_URL</key>
	<string>https://myproject-86929.firebaseio.com</string>
</dict>
</plist>